.fc_wrapper {
  max-width: 640px;
  margin: auto;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;

  .fc_title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 80px;

    div:first-child {
      font-weight: 500;
      font-size: 52px;
      color: #412617;
      line-height: 125%;
    }
  }

  ul {
    margin: 0;
    padding: 0px 0px 0px 24px;
    color: #412617;
  }

  li {
    padding: 0px 0px 0px 8px;
  }
}
