.final_wrapper {
  max-width: 640px;
  margin: auto;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 200px;

  .hero_cont {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 80px;

    .hero_subcont {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .hero_title {
        display: flex;
        flex-direction: column;
        gap: 4px;

        div:first-child {
          font-weight: 300;
          font-size: 24px;
        }

        div:last-child {
          font-weight: 500;
          font-size: 52px;
          color: #412617;
          line-height: 125%;
        }
      }

      .hero_desc {
        span {
          color: #412617;
          font-weight: 500;
          cursor: default;
        }

        a {
          color: #412617;
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
  }

  .content_cont {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .content_subcont {
      display: flex;
      flex-direction: column;
      gap: 0px;

      div:first-child {
        font-weight: 500;
        font-size: 32px;
        color: #412617;
      }
    }
    .content_card {
      display: flex;
      flex-direction: column;
      gap: 16px;

      video {
        border-radius: 8px;
      }

      img {
        border-radius: 8px;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        div:first-child {
          color: #412617;
          font-weight: 500;
        }
      }
    }
  }

  .workex_cont {
    display: flex;
    flex-direction: column;
    gap: 80px;

    .workex_title {
      font-weight: 500;
      font-size: 32px;
      color: #412617;
    }

    .workex_content {
      display: flex;
      flex-direction: column;

      .workex_item {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: start;
        padding: 40px 0px;
        border-bottom: 1px solid #d9d9d9;

        .workex_item_cont {
          display: flex;
          flex-direction: column;
          gap: 2px;

          div:first-child {
            color: #412617;
            font-weight: 500;
          }

          div:last-child {
            text-align: start;
          }
        }

        div:last-child {
          text-align: end;
        }
      }

      .workex_item:first-child {
        padding-top: 0px;
      }

      .workex_item:last-child {
        padding-bottom: 0px;
        border: none;
      }
    }
  }

  .archive_cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 40px;
    border-radius: 20px;
    background-color: white;

    .archive_title {
      display: flex;
      flex-direction: column;
      
      div:first-child {
        font-weight: 500;
        font-size: 32px;
        color: #412617;
      }
    }
    .button {
      padding: 16px;
      border-radius: 8px;
      background-color: #9D5248;
      color: white;
      width: max-content;
    }
  }
}
