.contact_cont {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;

    .contact_head {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 400px;
        width: 100%;

        .header {
            font-family: "Manrope";
            font-size: 64px;
            text-transform: capitalize;
            font-weight: 700;
            letter-spacing: -2px;
        }
        
        .desc {
            font-size: 18px;
        }
    }

    .contact_subcont {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        gap: 16px;
        
        .contact_item {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
    
            div:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: "Geist Mono";
                text-transform: uppercase;
            }

            div:nth-child(2) {
                color: #8E8E93;
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .contact_cont {
        .contact_head {
            gap: 0px;

            .header {
                font-size: 48px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact_cont {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 32px;

        .header {
            text-align: center;
        }

        .desc {
            text-align: center;
        }
    }
}

@media screen and (max-width: 460px) {
    .contact_cont {
        padding-top:24px;
        gap: 40px;
        // width: fit-content;

        .contact_head {
            .header {
                text-align: start;
            }
        
            .desc {
                text-align: start;
                font-size: 16px;
            }
        }
    }
}