.contact_cont {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .contact_subcont {
        display: flex;
        flex-direction: column;
        max-width: 416px;
        width: 100%;
        gap: 16px;
        
        .contact_item {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px;
            border-radius: 8px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08), 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
    
            div:nth-child(1) {
                display: flex;
                align-items: center;
                gap: 12px;
                font-family: "Geist Mono";
                text-transform: uppercase;
            }

            div:nth-child(2) {
                color: #8E8E93;
            }
        }
    }
}