.cont {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .hero__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .rive__canvas {
      width: 200px;
      height: 200px;
    }
  
    .hero__subcont {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      
      .hero__title {
        font-size: 96px;
        font-weight: 700;
        letter-spacing: -4px;
      }
  
      .hero__desc {
        font-size: 18px;
      }
    }
  }
  
  
  @media screen and (max-width: 970px) {
    .hero__cont {
  
      .rive__canvas {
        width: 150px;
        height: 150px;
      }
  
      .hero__subcont {
  
        .hero__title {
          font-size: 48px;
          letter-spacing: -2px;
        }
      }
    }
  }
  
  @media screen and (max-width: 520px) {
    .hero__cont {

      .hero__subcont {

        .hero__title {
          text-align: start;
          letter-spacing: -2px;
        }

        .hero__desc {
          text-align: start;
          font-size: 16px;
        }
      }
    }
  }