.home_cont {
  .home_cont_work {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 40px;

    img {
      border-radius: 8px;
    }

    .home_cont_onboarding {
      display: flex;
      gap: 16px;
      align-items: end;

      .home_cont_content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px 0px;
        width: 100%;

        div:nth-child(1) {
          font-size: 24px;
          font-weight: 600;
        }

        div:nth-child(2) {
          color: #62646a;
        }
      }
    }

    .home_cont_work_row {
      display: flex;
      gap: 16px;
      .home_cont_all {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .home_cont_content {
          display: flex;
          flex-direction: column;
          gap: 4px;

          div:nth-child(1) {
            font-size: 24px;
            font-weight: 600;
          }

          div:nth-child(2) {
            color: #62646a;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .home_cont {
    .home_cont_work {
      font-size: 16px;
      .home_cont_onboarding {
        .home_cont_content {
          width: 37%;
          padding: 0px;

          div:nth-child(1) {
            font-size: 20px;
          }
        }

        img {
          width: 64%;
        }
      }
      .home_cont_work_row {
        .home_cont_all {
          .home_cont_content {
            div:nth-child(1) {
              font-size: 20px;
            }
          }
        }
      }

      .home_cont_work_row:nth-child(2) {
        .home_cont_all:first-child {
          width: 37%;
          min-width: 0;
        }
        .home_cont_all:last-child {
          width: 64%;
          min-width: 0;
        }
      }
      .home_cont_work_row:last-child {
        .home_cont_all:first-child {
          width: 64%;
          min-width: 0;
        }
        .home_cont_all:last-child {
          width: 37%;
          min-width: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .home_cont {
    .home_cont_work {
      .home_cont_onboarding {
        flex-direction: column;
        gap: 8px;

        .home_cont_content {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }

      .home_cont_work_row {
        flex-direction: column;
        gap: 80px;
      }

      .home_cont_work_row:nth-child(2) {
        .home_cont_all:first-child {
          width: 100%;
          min-width: auto;
        }
        .home_cont_all:last-child {
          width: 100%;
          min-width: auto;
        }
      }
      .home_cont_work_row:last-child {
        .home_cont_all:first-child {
          width: 100%;
          min-width: auto;
        }
        .home_cont_all:last-child {
          width: 100%;
          min-width: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
}
