.nav_cont {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
  padding: 24px 0px 24px 0px;
  font-size: 18px;

  .nav_cont__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    div:nth-child(1) {
      font-size: 48px;
      font-weight: 700;
      letter-spacing: -2px;
    }

    div:nth-child(2) {
      color: #62646a;
    }
  }

  .nav_back {
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    background: #fff;
    cursor: pointer;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  }

  .nav_cont_navigation {
    display: flex;
    gap: 24px;
    padding: 12px 12px 12px 20px;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    background: #fff;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    align-items: center;

    .nav_rive_canvas {
      width: 36px;
      height: 36px;
    }

    .nav_cont_link {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;

      .nav_btn {
        padding: 8px 18px;
        color: white;
        border-radius: 8px;
        // background: linear-gradient(180deg, #000 0%, #666 137.5%);
        background: linear-gradient(180deg, #666 -64%, #000 100%);
        border: 2px solid black;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .nav_cont {
    font-size: 16px;
    flex-direction: column-reverse;

    .nav_back {
      display: none;
    }

    .nav_cont_navigation {
      justify-content: space-between;
      width: 91%;
    }
  }
}
