.scroll {
    width: 100%;

    .list {
        display: flex;
        gap: 16px;
        padding: 16px 16px;
        justify-content: start;
        overflow-x: scroll;

        .item-list {
            height: 500px;
            width: 350px;
            background-position: center;
            background-repeat: no-repeat, repeat;
            background-size: cover;
            border-radius: 16px;
            background-color: #D9D9D9;
            border: 1px solid lightgray;
        }

    }
}