.scroll {
    width: 100%;

    .list {
        display: flex;
        gap: 16px;
        justify-content: center;
        // width: 100%;
        overflow-x: scroll;

        .item {

            img {
                width: 350px;
                min-width: 100%;
                border-radius: 16px;
            }
        }
    }
}

@media screen and (max-width: 1879px) {
    .scroll {
        .list {
            padding: 16px 16px;
            justify-content: start;
        }
    }
}