.footer_wrapper {
  background-color: #0a1a1a;
  color: white;
  padding: 64px 0px;

  .footer_cont {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1280px;
    margin: auto;
    padding: 0px 16px;
    color: rgba(255, 255, 255, 0.64);

    .footer_link_cont {
      display: flex;
      gap: 24px;

      div {
        font-family: 'Geist Mono';
        text-transform: uppercase;
        text-decoration: underline;
      }

      a {
        display: flex;
        align-items: center;
      }

      img {
        height: 24px;
        opacity: 64%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer_wrapper {
    .footer_cont {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}