@font-face {
  font-family: 'Post Grotesk';
  src: url('/fonts/Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Post Grotesk';
  src: url('/fonts/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Post Grotesk";
}